<!DOCTYPE html>
<html>
<head>
  <title>Taggablee</title>
  <%= stylesheet_link_tag    "taggablee/application" %>
  <%= javascript_include_tag "taggablee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
